*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(37, 40, 63);
}

section{
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
background-color: rgb(48, 51, 78);
height: 600px;
}
.mainpage{
    display: flex;
    background-color: rgb(243, 242, 237); 
    height: 550px;
    width: 750px;
    padding-left: 0px;
    border-radius: 27px;
}
.maincontent{
   width: 450px;
   height: 200px;
   padding: 30px;
   margin-top: 30px;


}
.iconpage{
    width: 500px;
    height: 500px;
    background-image: url(/images/illustration-sign-up-desktop.svg);
    background-position: center;
    background-size: cover;
    align-items: center;
    margin: 24px;
    margin-right: 20px;
    border-radius: 20px;

}
h1{
    margin-top: 28px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    margin-top: 10px;
}

ul{
    margin-top: 1px;
    padding-left: 8px;
    list-style: none;
}
ul img{
    width: 15px;
    margin-top: 17px;
}
li{
    padding: 2px;
    display: flex;
}
li p{
    margin-left: 14px;
    margin-bottom: px;
    width: 280px;
    font-size: 13px;
}
.invalid p{
    color: rgb(48, 51, 78);
    font-weight: bold;
    font-size:x-small;
}
.inputs{
    margin-top: 10px;
}
input{
    margin-left: 5px;
    margin-top: 5px;
    width: 300px;
    height: 40px;
    background-color: rgba(247, 212, 212, 0.644);
    border: 1px solid  red;
    border-radius: 8px;
    padding: 10px;
    color: rgb(230, 56, 56);
}

::placeholder{
    color: rgb(221, 71, 71);
}
button{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 13px;
    width: 300px;
    height: 40px;
    text-align: center;
    background-color: rgb(27, 43, 85);
    border-radius: 8px;
    color: rgb(250, 223, 215);

}
.valid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
}
.valid span{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: rgb(243, 69, 69);
}