*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(37, 40, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

section{
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
background-color: rgb(48, 51, 78);
height: 600px;
}
.mainpage{
    display: flex;
    background-color: rgb(243, 242, 237); 
    height: 400px;
    width: 400px;
    border-radius: 27px;

}
.maincontent{
   width: 250px;
   height: 200px;
   padding: 30px;
   align-items: center;

}
p{
    margin-top: 20px;
    width: 330px;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 20px;
    
}

h1{
    margin-top: 19px;
    font-size: 45px;
    margin-left: 10px;
    width: 100vw;
    font-weight: bolder;
}
img{
    object-fit: cover;
    object-position: center;
    width: 45px;
    height: 45px;
}

button{
    margin-top: 35px;
    font-size: 13px;
    width: 345px;
    height: 40px;
    text-align: center;
    background-color: rgb(26, 39, 80);
    border-radius: 8px;
    color: antiquewhite;

}
span{
    font-weight: bold;
}
